<p id="notice"><%= notice %></p>
<% if @subject.user_id == @user.id %>

<%= link_to 'Back', subjects_path %> | <%= link_to 'Edit', edit_subject_path(@subject) %>
<div class="subject-table">
  <p class="subject-show-page">
    <strong>Name:</strong>
    <%= @subject.name %>
  </p>

  <p class="subject-show-page">
    <strong>Birthday:</strong>
    <%= @subject.birthday %>
  </p>

  <p class="subject-show-page">
    Zodiac:
    <%= @zodiac %>
  </p>
  <% if @zodiac == "Aquarius" %>
    <% @native_zodiac = "The Otter" %>
    <% @birthstone = "Amethyst" %>
  <% elsif @zodiac == "Pisces" %>
    <% @native_zodiac = "The Wolf" %>
    <% @birthstone = "Aquamarine" %>
  <% elsif @zodiac == "Aries" %>
    <% @native_zodiac = "The Falcon" %>
    <% @birthstone = "Diamond" %>
  <% elsif @zodiac == "Taurus" %>
    <% @native_zodiac = "The Beaver" %>
    <% @birthstone = "Emerald" %>
  <% elsif @zodiac == "Gemini" %>
    <% @native_zodiac = "The Dear" %>
    <% @birthstone = "Pearl" %>
  <% elsif @zodiac == "Cancer" %>
    <% @native_zodiac = "The WoodPecker" %>
    <% @birthstone = "Ruby" %>
  <% elsif @zodiac == "Leo" %>
    <% @native_zodiac = "The Salmon" %>
    <% @birthstone = "Peridot" %>
  <% elsif @zodiac == "Virgo" %>
    <% @native_zodiac = "The Bear" %>
    <% @birthstone = "Sapphire" %>
  <% elsif @zodiac == "Libra" %>
    <% @native_zodiac = "The Raven" %>
    <% @birthstone = "Opal" %>
  <% elsif @zodiac == "Scorpio" %>
    <% @native_zodiac = "The Snake" %>
    <% @birthstone = "Topaz" %>
  <% elsif @zodiac == "Sagittarius" %>
    <% @native_zodiac = "The Owl" %>
    <% @birthstone = "Turquoise" %>
  <% elsif @zodiac == "Capricorn" %>
    <% @native_zodiac = "The Goose" %>
    <% @birthstone = "Garnet" %>
  <% end %>
  <p class="subject-show-page">
    Native American zodiac: <%= @native_zodiac %>
  </p>

  <p class="subject-show-page">
    Birthstone: <%= @birthstone %>
  </p>

  <% else %>
  <p class="subject-show-page"> You are not allowed to view this page </p>
  <% end %>
</div>
